*:focus{
	outline: 0
}

.activationCommentDiv{
	position: absolute;
	top:5px;
	left: 10px;
	border-radius:50px;
	box-shadow: inset 0px 0px 5px #9a9a9a;
	width: 50px;
	background-color: white;
	height: 30px
}

.activationCommentDiv .turnOn, .activationCommentDiv .turnOff,
.activationCommentDiv .turnOn:focus, .activationCommentDiv .turnOff:focus{
	width: 30px;
	height: 30px;
	border-radius:50px;
	display: inline-block;
	border:0;
	cursor: hand;
	cursor: pointer;
	color: transparent;
	background-image: url(../icons/comments.png);
	background-repeat: no-repeat;
	background-position: center center;
	-webkit-transition: all 0.2s ease-out;
	transition: all 0.2s ease-out;
	position: absolute;
	top: 0;
}

.turnOff{
	background-color: #fc00a7;
	left: 0;
}

.turnOn{
	background-color: #7B7B7B;
	left: 22px;
}

#menu {
	left: 80px !important;
}

/**TODO check de l'utilite de ces lignes */
.scCommentOn .slpBtnStp{
	visibility:hidden;
}
.slpOpAct .localInfoBullet{
	display:none;	
}
.slpOpAct.scCommented{
	margin-top: 0 !important;
}

.globalInfoBullet{
	position: absolute;
	bottom:-3px;
	left: 45px;
	border-radius: 16px;
	background-color: white;
	font-weight: bold;
	color: #FC00A7;
	border:1px solid white;
	text-align: center;
	display: block;
	padding: 2px;
	box-shadow: 0px 0px 3px #9a9a9a;
	z-index: 2;
	cursor: help;
}

.localInfoBullet{
	position: absolute;
	top:-15px;
	left: 5px;
	border-radius: 16px;
	background-color: white;
	font-weight: bold;
	color:#FFD4F2;
	border:1px solid white;
	text-align: center;	
	display: inline-block;
	border:1px solid #FFD4F2;
	-webkit-transition: all 0.2s ease-out;
	transition: all 0.2s ease-out;
	padding: 2px;
	cursor: help;
}

.globalInfoBulletDesc,
.localInfoBulletDesc{
	background-color: #FFFFFF;
	border-radius: 5px;
	min-width: 200px;
	padding: 5px;
	position: absolute;
	text-align: left;
	opacity: 0;
	left: 10px;
	border:1px solid #FC00A7;
	top: -20px;
	visibility: hidden;
	color: #FC00A7;
	box-shadow: 0px 0px 5px #9a9a9a;
	-webkit-transition: visibility 0.1s linear 0.5s, opacity 0.1s ease-in 0.2s, left 0.2s ease-in 0.2s;
	transition: visibility 0.1s linear 0.5s, opacity 0.1s ease-in 0.2s, left 0.2s ease-in 0.2s;
}

.globalInfoBullet:hover .globalInfoBulletDesc,
.localInfoBullet:hover .localInfoBulletDesc{
	opacity: 1;
	left: 30px;
	visibility: visible;
	-webkit-transition: visibility 0.1s linear, opacity 0.1s ease-out 0.1s, left 0.2s ease-out;
	transition: visibility 0.1s linear, opacity 0.1s ease-out 0.1s, left 0.2s ease-out;
}

.commentContainer button{
	border:1px solid white;
	height: 19px;
	width: 19px;
	color: transparent;
	cursor: hand;
	cursor: pointer;
	-webkit-transition: all 0.2s ease-out;
	transition: all 0.2s ease-out;
	padding: 0;
	display: inline-block;
	background-image: url(../icons/spriteButtons.png);
}

.comment button{
	margin: 3px 3px 3px 0
}

.commentContainer button:hover{
	border-color:gray;
}

.meta{
	margin: 3px;
	color: gray;
	display: inline-block;
	padding: 3px;
}

.editButton{
	background-position:-100px top; 
}

.deleteButton{
	background-position:left top; 
}

.validButton{
	background-position:-120px top; 
	float: right;
}

.cancelEditButton{
	background-position:-20px top; 
	float: right;
}

.cancelCreateButton{
	background-position:left top; 
	float: right;
}

.close{
	background-position:-120px top; 
}

.open{
	background-position:-100px top; 
}

.minusButton{
	background-position:-60px top; 
}
	
.maximButton{
	background-position:-40px top; 
}

.unvalidated .threadValidation{
	background-position:-120px top; 
}

.validated .threadValidation{
	background-position:-140px top; 
}

 button.minusButton,
 button.maxiButton,
 button.threadValidation,
 button.close,
 button.open,
 button.deleteThread{
	display: block;
}

.threadValidation{
 margin-bottom:5px !important;
}

.commentContainer .addButton{
	background: url(../icons/response.png);
	border-color: #FCF7B8;
	border-width: 2px;
	height: 35px;
	width: 35px;
	box-shadow: 0px 0px 3px #C4C4C4;
	margin: 10px
}

.tools{
	float: right;
}

.scCommentOn *[data-origin]{
	-webkit-transition: all 0.2s ease-out;
	transition: all 0.2s ease-out;
}

.scCommentOn .scCommented{
	-webkit-box-shadow:inset 0 0 5px 0px #FFD4F2;
	box-shadow:inset 0 0  5px 0px #FFD4F2;
}

.scCommentOn .scCommentable.hover{
	background-color: #FFFAFE;
	-webkit-box-shadow:inset 0 0 5px 0px #fc00a7;
	box-shadow:inset 0 0 5px 0px #fc00a7;
	cursor: url(../icons/comment.cur),url(icons/comment.cur),default;
}

.scCommentable.hover .comment{
	cursor: auto;
}

.comment.toDelete{
	opacity: 0;
	height: 0;
	-webkit-transition: height 0.3s ease-out;
	transition: height 0.3s ease-out;
}

.commentContainer .thread{
	background:url(../icons/bkgThread.png) top left no-repeat;
	background-size: 4px 100%;
	margin-left: 30px;
	padding: 0 5px 20px 10px;
	position: relative;
	min-height: 80px
}

.threadTools{
	background-color: #fff9a8;
	display: inline-block;
	padding: 5px;
	vertical-align: top;
	margin-left:-35px;
	position: absolute;
}

.bottom{
	display: inline-block;
	vertical-align: middle;
}

.comment{
	display: block;
	vertical-align: middle;
	background: url(../icons/nextComment.png) left center no-repeat;
	padding: 5px 7px 5px 20px;
	-webkit-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
	opacity: 1;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.comment.first{
	padding-left: 7px;
	background: none;
}

.comment.last{
	display: inline-block;
	width: calc(100% - 80px)
}

.commentInside{
	background: #FFFABF; /* Old browsers */
	background: -webkit-linear-gradient(top,  #FFFABF 0%, #ffffe0 100%);
	background: linear-gradient(to bottom,  #FFFABF 0%, #ffffe0 100%);
	box-shadow: 0px 0px 3px #C4C4C4;
	position: relative;
}

.comment.first .commentInside{
	background: #FFF57B; /* Old browsers */
	background: -webkit-linear-gradient(top,  #FFF57B 0%, #FFFFA7 100%);
	background: linear-gradient(to bottom,  #FFF57B 0%, #FFFFA7 100%);
}

.comment .content{
	padding: 5px;
	white-space: pre-wrap;
}

.edit.comment .content{
	margin-top: -30px
}

.commentContainer{
	overflow: visible;
	-webkit-transition: opacity 1s ease-out;
	transition: opacity 1s ease-out;
	opacity: 0.65;
	pointer-events:none;
}

.commentContainer *{
	pointer-events:auto;
}

scCommentable.hover + .commentContainer,
scCommentable.hover > .commentContainer,
.commentContainer.hover{
	opacity: 1;
}

.thread.closed .CommentResponseForm{
	display: none;
}

.scCommentOff .commentContainer{
/*	height: 0 !important;
	overflow: hidden;
	opacity: 0*/
	display: none;
}

.edit{
	min-width: 300px
}

.editformArea{
	height: 100px;
	width: 100%;
	resize:none;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.commentContainer .thread.closed,
.commentContainer .thread.collapsed{
	min-height: 0
}

.collapsed .comment{
	display: none;
}

.scCommented{
	margin-bottom: 5px;
	position: relative;
	margin-top: 25px !important;
}

.closed .comment{
	display: inline-block;
	width: auto;
	background-image: url(../icons/nextCommentDisabled.png)
}

.closed .comment.first{
	background-image: none;
}

.closed .comment .content{
	max-height: 100px;
	overflow:auto;
}

.closed .comment.first .commentInside {
	background: #E8E8E8; /* Old browsers */
	background: linear-gradient(to bottom, #E8E8E8 0%, #FAFAFA 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
}

.closed .comment .commentInside {
	background: #F5F5F5; /* Old browsers */
	background: linear-gradient(to bottom, #F5F5F5 0%, #FFFFFF 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
}

.commentContainer .thread.closed {
	background-image: url("../icons/bkgThreadDisabled.png");
}

.closed .threadTools {
	background-color: #F4F4F4;
}
