/* *********************************************************
	Import slide CSS
*/
@import url("rootHtml.css");
html{
	overflow:auto;
}

body {
	background-color:white;
}

div#tplRootPge {
	background:none;
	height:100%;
	left:0px;
	top:0px;
	width:100%;
}
div#tplSldFra {
	height:100%;
	left:0px;
	top:0px;
	width:auto;
	padding:20px
}
.sldHome_ti {
	margin-top:1em;
}
.refToc{
	float:right;
	margin:40px 0px 10px 10px;
	border: 2px solid white;
	background-color:white;
	box-shadow: 0px 0px 5px white; 
	border-radius: 5px; 
	padding: 10px;
	font-size: 0.8em;
	background-color:#505050;
	color:white	
}

.refToc *{
	color:white	
}

.refToc_ti{
	color:#7D98CB;
}
.refToc ul{
	margin: 0;
	padding-left: 15px;
	list-style-position: inside;
	
}

.loDepth_1{
	list-style-type:none
}

.slideBk{
	text-align: left
}

h1.slideBk_ti{
	background:none;
	color:gray;
	margin-top:20px;
	padding:0px
}

