/* *********************************************************
	Basic HTML selectors
*/
html{
	width: 100%;
	height: 100%;
}
body{
	margin: 0px;
	padding: 0px;
	width: 100%;
	height: 100%;
	font-family: sans-serif;
	overflow: hidden;
	background-color:white;
}

p{
	margin-top:0.5em
}

table p {
	margin:0px;
}
h1, h2, h3,h4,h5,h6{
	color:#7D98CB;
}
h1, h2, h3{
	margin: 0.5em 0px 0.2em 0px;
}
a{
	color:#4463A1;
	text-decoration: none;
}
a:hover{
	text-decoration: underline;
}
a img{
	border: 0px;
}
ul{
	list-style-type:disc;
}
table {
	border-collapse:collapse;
}
ul, ol {
	color:#4463A1;
	padding-left:3em;
}
li span,
li p,
li div{
	color:black;
}
li a span{
	color:#4463A1;
}
q:before, 
q:after {
	content: "";
}
h1 {
	font-size:1.5em;
	font-weight:bold;
	margin:0.67em 0;
}
h2 {
	font-size:1.2em;
	font-weight:bold;
	margin: 0 0 0.83em 0;
}
h3 {
	font-size:1.1em;
	font-weight:bold;
	margin: 0 0 1em 0;
}
h4 {
	font-weight:bold;
	margin: 0 0 1.33em 0;
}
h5 {
	font-size:0.83em;
	font-weight:bold;
	margin: 0 0 1.67em 0;
}
h6 {
	font-size:0.67em;
	font-weight:bold;
	margin: 0 0 2.33em 0;
}


/* *********************************************************
	Utilities
*/
.hidden{
	position: absolute;
	width:1px;
	height:1px;
	visibility: hidden;
	top:-10000px;
	left:-10000px;
}

/* *********************************************************
	Slideshow slide page styles
*/
div#tplPge{
	position: absolute;
	width:100%;
	height:100%;
	background-color: white;
	overflow:hidden;
}
div#tplNav{
	display: none;
}
.ssBkRoot {
	position: relative;
}
.ssBk,
.ssContainer{
	position: absolute;
	left:0px;
	right:0px;
	background-color: white;
}
.ssBk .ssBk{
	position: static;
	background-color: inherit;
}
.ssBkCoParent {
	position: relative;
}
.pge_ti {
	text-align: center;
}

/* *********************************************************
	Content styles
*/

.slideBk{
	text-align:right;
}

.slideBk_co{
	text-align:left;
	padding-left:20px
}

.partBk, .slideContact{
	text-align: center
}

.partBk h1.slideBk_ti, .slideContact h1.slideBk_ti{
		color:#7e99cc;
		background:transparent;
}

h1.slideBk_ti{
	padding-top:0px;
	margin-top:0px;
	background:url(../img/co/fondTitre.png) left center no-repeat #7e99cc;
	display:inline-block;
	padding-left:60px;
	padding-right:80px;	
	color:white;	
}

h1.slideBk_ti span{
	padding:5px;
	display:inline-block;
}

.slideBkObj .slideBk_ti span{
	background:url(../img/co/icoTitreObj.png) left center no-repeat;
	padding-left:40px
}

.slideBkIntro .slideBk_ti span{
	background:url(../img/co/icoTitreIntro.png) left center no-repeat;
	padding-left:40px
}

.slideBkConclu .slideBk_ti span{
	background:url(../img/co/icoTitreConclu.png) left center no-repeat;
	padding-left:40px
}

.slideBkExpUc .slideBk_ti span{
/*	background:url(../img/co/icoTitreExpUc.png) left center no-repeat;*/
	padding-left:40px
}

.slideBkQuest .slideBk_ti span{
	background:url(../img/co/icoTitreQuest.png) left center no-repeat;
	padding-left:40px
}

.sldHome_ti,
.partBk .slideBk_ti,
.slideContact .slideBk_ti{
	text-align: center;
	margin-top:4em;
}

.sldHome_co,
.slideContact .slideBk_co {
	text-align: center;
	font-size: 0.9em;
	color:gray;
}
.presAuth p{
	margin-top:0;
}
.zoom{
	background:url(../img/co/zoom.png) center center no-repeat;
	display: block;
	width:40px;
	height:40px;
	position: absolute;
	top:-5px;
	right:-20px;
}
.zoom:hover{
	background:url(../img/co/zoomOver.png) center center no-repeat;
}
.zoom span{
	display: none;
}

.eWeb{
	margin:0 auto;
}

.resFra{
	margin:0px auto;
	position: relative;
	padding-top: 15px;
}
.txtResResLft .resFra{
	margin-right: 15px;
}
.txtResResRgt .resFra{
	margin-left: 5px;
}
.objInFlow{
	text-align:center;
}
.imgInFlow{
	text-align:center;
}
.imgInline img,
.objInline object {
	vertical-align: middle;
}
/* Tables */
.txt_tb{
	margin:auto;
	border:0.2em solid #4463A1;
	background-color: white;
}
.txt_tb caption{
	color: gray;
	font-style: italic;
}
.txt_tb td,
.txt_tb th{
	border:0.1em solid #4463A1;
	padding:0.2em
}
.txt_tb thead{
	border-bottom:0.2em solid #4463A1;
}
.txt_tb tfoot{
	border-top:0.2em solid #4463A1;
}
.txt_tb p{
	margin: 1px 0;
}

.txt_tb .row_tbtr td, .txt_tb .row_tbtr th{
	background-color:#4463A1;
	color:white
}

.col_tbcl {
	background-color:#E2E7F1;
}

.txt_tb th{
	color:#3C4961;
	text-align:center
}

.txt_t_tbcl,
.txt_t_tbtr{
	background-color:#fff5ea;
}
.txt_n_tbtd p{
	text-align: right;
}
.txt_w_tbtd p{
	text-align: center;
}
.txt_emphasis_is,
.txt_quote_ph,
.txt_special_ph{
	color:#7D98CB;
}
.resInFlow{
	text-align: center;
}
.caption,
.resInFlow_ti,
.webCap_ti {
	color: gray;
	font-style: italic;
	text-align: center;
}
.webCap_co{
	text-align: center;
}
/* Internal links */
.txt_ref_ul{
	background: url("../img/co/ref.png") center right no-repeat;
	padding-right: 35px;
}

.txt_acr_ul{
	background: url("../img/co/acr.png") center right no-repeat;
	padding-right: 30px;
}

.txt_glos_ul{
	background: url("../img/co/glos.png") center right no-repeat;
	padding-right: 32px;
}

.txt_docLnk_ul {
	background: url("../img/co/doc.png") center right no-repeat;
	padding-right: 27px;
}

.txt_bib_ul{
	background: url("../img/co/bib.png") center right no-repeat;
	padding-right: 30px;
}

.txt_resLnk_ul{
	background: url("../img/co/res.png") center right no-repeat;
	padding-right: 27px;
}

.txt_ucLnk_ul{
	background: url("../img/co/uc.png") center right no-repeat;
	padding-right: 25px;
}


/* External links */
a.txt_url_ul,
a.extUrl,
div.docUrl a{
	background: url("../img/co/lnkExt.png") center right no-repeat;
	padding-right: 35px;
}
a.txt_url_ul:hover,
a.extUrl:hover,
div.docUrl a:hover{
	background-image: url("../img/co/lnkExtOvr.png");
}

.bkDiv .bkBase_ti{
	color:#656565;
	margin-bottom:0.2em
}

.bkDiv .bkBase_co{
	background: url(../img/co/part.png) top left no-repeat;	
	padding:1em 0.1em 0.1em 1em
}

.bkBp{
	background-position: top left;
	background-repeat: no-repeat;
	min-height:95px;
	border: 0.2em solid  #4E6AA1;
	background-color: #F3F8FF;
	box-shadow: 0px 0px 8px #888;
}

.bkDef{
	background-image: url(../img/co/def.png);
}
.bkEx{
	background-image: url(../img/co/ex.png);
}
.bkRem{
	background-image: url(../img/co/rem.png);
}
.bkAdv{
	background-image: url(../img/co/adv.png);
}
.bkWarning{
	background-image: url(../img/co/warning.png);
	border-color: #FF4F5D;
	background-color: #ffeceb;
}
.bkComp{
	background-image: url(../img/co/comp.png);
}
.bkMeth{
	background-image: url(../img/co/meth.png);
}
.bkRemind{
	background-image: url(../img/co/remind.png);
}
.bkBasic{
	background-image: url(../img/co/basic.png);
}
.bkSyntax{
	background-image: url(../img/co/syntax.png);
}
.bkLegal{
	background-image: url(../img/co/legal.png);
}
.bkSimul{
	background-image: url(../img/co/simul.png);
}
.bkBp .bkBase_ti{
	margin: 0.1em 0.2em;
	padding-left:50px;
	color:#7D98CB;
	margin-bottom:0.5em
}

.bkInfo .bkBase_ti{
	color:#7D98CB;
	margin-bottom:0.5em
}

.bkBp .bkBase_co{
	margin: 0.1px 0.1px 0.1em 0.2em;
	background: #F3F8FF;
	padding:0px
}

.bkBase_noti .bkBase_co{
	margin-top: 60px;
}

.bkBp .ssBkCo{
	background: #F3F8FF;
}

.bkInfo .bkBase_co{
	background: transparent;
	padding:0px
}

.bkWarning .bkBase_ti{
	color: #FF4F5D;
}

.bkWarning .bkBase_co{
	background-color: #ffeceb;
}

.bkWarning .ssBkCo{
	background-color: #ffeceb;
}
.quoteBk {
	background-color: #F3F3F3;
	padding: 1em;
	font-family: Georgia, dejavu serif condensed, serif;
}

/* ---------- animations ---------- */
div.sldAnmStart{
	background: no-repeat center center url("../img/anim/btnStart.png");
	position:absolute;
	width:100%;
	height:100%;
	cursor:pointer;
}
div.sldAnmCtrl{
	background-color: white;
	border-radius: 5px;
	box-shadow: 0px 0px 8px #9a9a9a;
	position:absolute;
	top:5px;
	left:50%;
	margin-left: -40px;
	height: 25px;
	width: 80px;
	border: 2px solid #7D98CB;
}
div.sldAnmCtrl span{
	display: none;
	position: absolute;
}
div.sldAnmCtrl a{
	display: block;
	width:16px;
	height:16px;
	background-repeat: no-repeat;
	position: absolute;
	bottom: 4px;
}
a.sldAnmBtnPrv{
	background-image:url("../img/anim/btnPrv.gif");
	left:5px;
}
a.sldAnmBtnPrv:hover{
	background-image:url("../img/anim/btnPrvOvr.gif");
}
a.sldAnmBtnNxt{
	background-image:url("../img/anim/btnNxt.gif");
	right:5px;
}
a.sldAnmBtnNxt:hover{
	background-image:url("../img/anim/btnNxtOvr.gif");
}
a.sldAnmBtnPse{
	background-image:url("../img/anim/btnPse.gif");
	left:33px;
}
a.sldAnmBtnPse:hover{
	background-image:url("../img/anim/btnPseOvr.gif");
}
a.sldAnmBtnPly{
	background-image:url("../img/anim/btnPly.gif");
	left:33px;
}
a.sldAnmBtnPly:hover{
	background-image:url("../img/anim/btnPlyOvr.gif");
}

/* ================================== Quiz ================================== */
/* ---------- QCU, QCM Field cloze ordWord ---------- */
div.bkQuestion{
	min-height: 45px;
	padding-left:60px;
	background-image:url("../img/quiz/question.png");
	background-repeat: no-repeat;
	background-position: left top;
}
div.bkChoices{
	min-height: 45px;
	padding-left:60px;
}
div.bkCorrections{
	min-height: 45px;
	padding-left:60px;
	background-image:url("../img/quiz/correction.png");
	background-repeat: no-repeat;
	background-position: left top;
}
div.bkAnswer{
	min-height: 45px;
	padding-left:60px;
	background-image:url("../img/quiz/correction.png");
	background-repeat: no-repeat;
	background-position: left top;
}
div.bkExplanations{
	min-height: 45px;
	padding-left:60px;
	background-image:url("../img/quiz/explication.png");
	background-repeat: no-repeat;
	background-position: left top;
}

/* non-graphical */
div.mcqSurChoice_ur,
div.mcqMurChoice_ur{
	margin:2em 0;
}
div.mcqSurChoice_ur div.mcqSurChoiceLbl{
	min-height: 20px;
	padding-left:30px;
	background-image:url("../img/quiz/mcqSur.png");
	background-repeat: no-repeat;
	background-position: left center;
}
div.mcqSurSol_right div.mcqSurChoiceLbl{
	background-image:url("../img/quiz/mcqSurSel.png");
}
div.bkExplanations div.mcqSurChoiceLbl{
	color:#8c8c8c;
}
div.mcqMurChoice_ur div.mcqMurChoiceLbl{
	min-height: 20px;
	padding-left:30px;
	background-image:url("../img/quiz/mcqMur.png");
	background-repeat: no-repeat;
	background-position: left center;
}
div.mcqMurSol_check div.mcqMurChoiceLbl{
	background-image:url("../img/quiz/mcqMurSel.png");
}
div.bkExplanations div.mcqMurChoiceLbl{
	color:#8c8c8c;
}

/* graphical */
div.mcgSurChoice_ur,
div.mcgMurChoice_ur{
	margin:2em 0;
}
div.mcgSurChoiceNum,
div.mcgMurChoiceNum{
	float: left;
	margin-right:0.5em;
	margin-left:25px;
	color: white;
	font-weight: bold;
	background-color: gray;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	padding: 0 3px;
}
div.mcgSurSol_right div.mcgSurChoiceNum,
div.mcgMurSol_check div.mcgMurChoiceNum{
	background-color: #8ae234;
}
div.mcgSurSol_wrong div.mcgSurChoiceNum,
div.mcgMurSol_unche div.mcgMurChoiceNum{
	background-color: red;
}
div.mcgSurChoice_ur div.mcgSurChoiceLbl{
	min-height: 20px;
	padding-left:30px;
	background-image:url("../img/quiz/mcqSur.png");
	background-repeat: no-repeat;
	background-position: left center;
}
div.mcgSurSol_right div.mcgSurChoiceLbl{
	background-image:url("../img/quiz/mcqSurSel.png");
}
div.bkExplanations div.mcgSurChoiceLbl{
	color:#8c8c8c;
}
div.mcgMurChoice_ur div.mcgMurChoiceLbl{
	min-height: 20px;
	padding-left:30px;
	background-image:url("../img/quiz/mcqMur.png");
	background-repeat: no-repeat;
	background-position: left center;
}
div.mcgMurSol_check div.mcgMurChoiceLbl{
	background-image:url("../img/quiz/mcqMurSel.png");
}
div.bkExplanations div.mcgMurChoiceLbl{
	color:#8c8c8c;
}

div.bkGapTextHide p,
div.bkGapTextShow p{
	line-height:140%;
}

span.txt_gap_tl {
	min-width:2em;
	display:inline-block;
	text-align: center;
	background-color:white;
	font-size:0.8em;
	padding:0 0.1em;
}
div.gapTextHide .txt_gap_tl {
	border: 0.1em solid #8c8c8c;
	color:white;
}
div.gapTextShow .txt_gap_tl {
	border: 0.1em solid #00AA00;
	color:#00AA00;
}
div.ordWordRand,
div.ordWordOrd {
	line-height:1.5em;
}
div.ordWordRand .bkOrdWordLbl {
	border: 0.1em solid #8c8c8c;
	padding:0 0.1em;
}
div.ordWordOrd .bkOrdWordLbl {
	border: 0.1em solid #00AA00;
	color:#00AA00;
	padding:0 0.1em;
}
table.matchTable{
	width:100%;
	border-collapse:separate;
	border-spacing: 0.5em;
}
td.matchBskt{
	border: 1px solid #4463A1;
	vertical-align: top;
}
td.matchGroup{
	border: 1px solid #4463A1;
	padding: 0;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	vertical-align: top;
}
div.matchTarget{
	text-align:center;
	background-color: #4463A1;
	color:white;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	padding:0.1em;
}
.matchRand td.matchBskt{
	width:50%;
}
.matchOrd td.matchBskt{
	width:10%;
}
.matchRand div.matchTarget{
	margin-bottom:3em;
}
span.matchLbl{
	display:inline-block;
	margin:0.3em;
	border: 0.1em solid #8c8c8c;
}
.matchOrd span.matchLbl{
	border: 0.1em solid #00AA00;
}
/* ---------- practUc ---------- */
div.bkCtx{
	border: 0.2em solid  #4463A1;
}
.bkCtx .bkBase_ti{
	margin: 0.1em 0.2em;
	color:#4463A1;
	margin-bottom:0.5em
}
.bkCtx .bkBase_co{
	margin: 0.1px 0.1px 0.1em 0.2em;
	padding:0px
}
div.bkQuest{
	min-height: 45px;
	padding-left:60px;
	background-image:url("../img/quiz/question.png");
	background-repeat: no-repeat;
	background-position: left top;
}
div.bkHint{
	min-height: 45px;
	padding-left:60px;
	background-image:url("../img/quiz/hint.png");
	background-repeat: no-repeat;
	background-position: left top;
}
div.bkSol{
	padding-top:50px;
	background-image:url("../img/quiz/correction.png");
	background-repeat: no-repeat;
	background-position: left top;
}

.intructionM {
	color: #666;
	margin-top:20px;
}
.listingBk{
	margin-top: 0.5em;	
	margin-bottom: 1em;	
}

/* === CodeMirror =========================================================== */
.CodeMirror-static{
	font-size:70%;
}
.CodeMirror-static pre {
	/* Reset some styles that the rest of the page might have set */
	border-radius: 0;
	border-width: 0;
	background: transparent;
	font-family: inherit;
	font-size: inherit;
	margin: 0;
	white-space: pre-wrap;
	word-wrap: normal;
	line-height: inherit;
	color: inherit;
	z-index: 2;
	overflow: visible;

	width: -webkit-fit-content;
	width: -moz-fit-content;
	width: fit-content;
	font-family: monospace;
	tab-size: 2;
	-moz-tab-size: 2;
	-o-tab-size: 2;
}
.CodeMirror-line{
	background-image:url(../img/co/codeLine.png);
	background-repeat: no-repeat;
	background-size: 0.3em 1.1em;
	line-height: 1.1em;
	padding-left:0.9em;
}

.cm-keyword {color: #708;}
.cm-atom {color: #219;}
.cm-number {color: #164;}
.cm-def {color: #00f;}
.cm-variable {color: black;}
.cm-variable-2 {color: #05a;}
.cm-variable-3 {color: #085;}
.cm-property {color: black;}
.cm-operator {color: black;}
.cm-comment {color: #a50;}
.cm-string {color: #a11;}
.cm-string-2 {color: #f50;}
.cm-meta {color: #555;}
.cm-error {color: #f00;}
.cm-qualifier {color: #555;}
.cm-builtin {color: #30a;}
.cm-bracket {color: #997;}
.cm-tag {color: #170;}
.cm-attribute {color: #00c;}
.cm-header {color: blue;}
.cm-quote {color: #090;}
.cm-hr {color: #999;}
.cm-link {color: #00c;}

.cm-negative {color: #d44;}
.cm-positive {color: #292;}
.cm-header, .cm-strong {font-weight: bold;}
.cm-em {font-style: italic;}
.cm-link {text-decoration: underline;}
.cm-invalidchar {color: #f00;}
/* === STOP - CodeMirror ==================================================== */